body{
	background-color:white;
}
.fig {
	text-align: center; 
   }
.caption{
	text-align: center; 
}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

  video { 
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	  transform: translateX(-50%) translateY(-50%);
   background: url('img/gandalf.png') no-repeat;
	background-size: cover;
	transition: 1s opacity;
  }
  @media screen and (max-width: 500px) { 
	div{width:70%;} 
  }
  @media screen and (max-device-width: 800px) {
	html { background: url(img/gandalf.png) #000 no-repeat center center fixed; }
	#bgvid { display: none; }
  }